body {
    background-color: #f2f2f2;
    color: #333;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 10rem;
    margin: 0;
    color: #ff6347; /* Tomato color for emphasis */
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blue button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #0056b3;
}

