<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/add-prompt" method="POST">
            <label for="category">Choose a category:</label>
            <select name="category">
                <option value="cooking">Cooking</option>
                <option value="coding">Coding</option>
                <option value="learn">Learn</option>
                <option value="write">Writing</option>
            </select>

            <input type="text" name="title" placeholder="Product Title">
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>

